<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Contact Us - Responsive Page Design</title>
    <link rel="shortcut icon" type="image/jpg" href="<%= '/images/contact/news2.png' %>"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
    </style>
    <link rel="stylesheet" href="<%= 'css/contact.css' %>">
    </head>
    <body>
        <section>
            <div class="container">
                <div class="contactInfo"> 
                    <div>
                        <h2>Contact Info</h2>
                        <ul class="info">
                            <li>
                                <span><img src="<%= '/images/contact/location.png' %>"></span>
                                <span>Chitkara University<br>
                                    Rajpura, Punjab<br>
                                    140401</span>
                                </span>
                            </li>
                            <li>
                                <span><img src="<%= '/images/contact/mail.png' %>"></span>
                                <span><a>temp@gmail.com</a></span>
                            </li>
                            <li>
                                <span><img src="<%= '/images/contact/call.png' %>"></span>
                                <span>123-456-7890</span>
                            </li>

                        </ul>
                    </div>
                    <ul class="sci">
                        <li><a href="https://www.facebook.com/"><img src="<%= '/images/contact/1 (1).png' %>"></a></li>
                        <li><a href="https://www.instagram.com/"><img src="<%= '/images/contact/3.png' %>"></a></li>
                        <li><a href="https://twitter.com/"><img src="<%= '/images/contact/2 (1).png' %>"></a></li>
                        <li><a href="https://www.linkedin.com/"><img src="<%= '/images/contact/5.png' %>"></a></li>
                        
                    </ul>
                </div>
                    <div class="contactForm">
                    <h2>Send a Message</h2>
                    <form action="/contact" method="POST">
                        <div class="formBox">
                            <div class="inputBox w50">
                                <input type="text" name="firstName" required>
                                <span>First Name</span>
                            </div>
                            <div class="inputBox w50">
                                <input type="text" name="lastName" required>
                                <span>Last Name</span>
                            </div>
                            <div class="inputBox w50">
                                <input type="email" name="email" required>
                                <span>Email Address</span>
                            </div>
                            <div class="inputBox w50">
                                <input type="text" name="mobileNumber" required>
                                <span>Mobile Number</span>
                            </div>
                            <div class="inputBox w100">
                                <textarea name="message" required></textarea>
                                <span>Write your message here...</span>
                            </div>
                            <div class="inputBox w100">
                                <input type="submit" value="Send">
                            </div>
                        </div>
                    </form>
                </div>

                    
                    
             
        </section>
    </body>
</html>
